*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}
.container{
  width: 1228px;
  margin: 0 auto;
}

.forms-wrapper{
  border-top: 9px dashed black;
  margin-top: 97px;
  padding: 20px 3px;
}

.forms-wrapper-title{
  position: absolute;
  top: 76px;
  font-size: 26px;
  left: calc(50% - 114px);
  background-color: #fff;
  display: inline-block;
  text-align: center;
  padding: 3px 20px;
}

.forms-wrapper-subTitle{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.forms-wrapper-label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.forms-wrapper-label1{
  margin-bottom: 20px;
}

.forms-wrapper-label-span{
  font-size: 24px;
  gap: 23px;
  font-weight: 500;
  margin-right: 20px;
  white-space: nowrap;

}

.form-wrapper-inputGroup{
  width: 1110px;
  display: flex;
  gap: 9px;
  align-items: center;
  /* background-color: aqua; */
  justify-content: flex-end;
}



.forms-wrapper-input{
  width: 32px;
  text-align: center;
  border: 2px solid black;
  font-size: 26px;
  padding: 6px 3px;
  outline: none;
}
.forms-wrapper-input::-webkit-inner-spin-button,
.forms-wrapper-input::-webkit-outer-spin-button {
   -webkit-appearance: none;
}
.forms-wrapper-input:focus{
  border: 2px solid green;
  box-shadow: 0 0 2px 1px green;
}
.form-wrapper-inputGroup-text{
  font-size: 22.7px;
  text-align: right;
}

.form-wrapper-inputGroup-text-god{
  width: 72px;
}
.form-wrapper-inputGroup-text-pol{
  white-space: nowrap;
  width: 196px;
}

.form-wrapper-inputGroup-text-jenskiy{
  white-space: nowrap;
  width: 115px;
}

.forms-wrapper-input-jenskiy{
  margin-right: 82px;
}

.forms-wrapper-label2{
  margin: 22px 0 15px;
}
.forms-wrapper-subTitle2{
  text-align: center;
}